* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

fieldset {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}



label {
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
